@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700&display=swap");
.mobile-overlay--link, .navbar-menu--link {
  font-size: 1.2rem;
  color: #575757;
  cursor: pointer;
  font-weight: 700;
  display: block;
  height: 100%;
  padding: 1rem 2rem;
}

.header-title {
  font-size: 7rem;
  line-height: 1.2;
  font-weight: 200;
  color: #333333;
  margin-bottom: 2rem;
}

.header-hero {
  font-size: 1.8rem;
  color: #575757;
  font-weight: 600;
}

body {
  letter-spacing: 1.5px;
}

.section-title {
  font-size: 2.5rem;
  color: #127EB1;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px 0px 1rem;
  margin-bottom: 3rem;
}

.section-text {
  color: #575757;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 2rem;
}

.section-email, .section-description {
  font-size: 2rem;
  color: #575757;
  font-weight: 400;
  margin-bottom: 2.25rem;
}

.section-text-big {
  font-weight: 600;
  color: #333333;
  margin: 5rem 0;
  font-size: 2rem;
}

.section-text--skills {
  color: #127EB1;
  width: 50%;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 700;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  width: 100vw;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

section {
  width: 100%;
  padding-top: 12.5rem;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: auto;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: row;
}
.header-container {
  width: 100%;
  max-width: calc(1000px + 10vw);
  margin: auto;
}
.header-content {
  padding-left: 6vw;
}
.header-title--blue {
  color: #127EB1;
  font-weight: 700;
}
@media only screen and (max-width: 1068px) {
  .header-title {
    font-size: 4rem;
    padding-top: 5rem;
  }
}
.header-hero--black {
  color: #333333;
  font-style: italic;
}
@media only screen and (max-width: 1068px) {
  .header-hero {
    font-size: 1.5rem;
  }
}
.header-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .header-btns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}
.header .chevron-down {
  width: 2rem;
  position: absolute;
  bottom: 2rem;
  left: calc(50% - 1rem);
  transition: all 0.25s;
  z-index: 0;
}
.header .chevron-down img {
  width: 100%;
}
.header .chevron-down:hover {
  bottom: 2.25rem;
}
.header-branding {
  width: 100%;
  height: 75%;
  fill: #8EC8D9;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 1068px) {
  .header-branding {
    display: none;
  }
}
.header-branding-mobile {
  width: 100%;
  fill: #8EC8D9;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  display: none;
}
@media (max-width: 1068px) {
  .header-branding-mobile {
    display: inline-block;
  }
}

.section {
  text-align: center;
  margin-bottom: 10rem;
}
.section-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50%;
  margin: auto;
}
@media only screen and (max-width: 1068px) {
  .section-btns {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}

.about {
  padding-left: 7rem;
  padding-right: 7rem;
}
@media only screen and (max-width: 1068px) {
  .about {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.section .reverse {
  flex-direction: row-reverse;
}
@media only screen and (max-width: 1068px) {
  .section .reverse {
    flex-direction: column;
  }
}
.section-project-title {
  font-weight: 600;
  font-size: 2rem;
  color: #fff;
  margin: 7rem 0px 3.5rem;
  text-transform: uppercase;
}
.section-project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media only screen and (max-width: 1068px) {
  .section-project-container {
    flex-direction: column;
  }
}
.section-project-image {
  width: 50%;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 1068px) {
  .section-project-image {
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
  }
}
.section-project-details {
  text-align: left;
  padding: 0 2.5rem;
}
@media only screen and (max-width: 1068px) {
  .section-project-details {
    text-align: center;
  }
}
.section-project-details-description {
  font-size: 1.4rem;
  color: #575757;
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 2.25rem;
}
.section-project-details-technologies {
  color: #333333;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0px 0px 2.25rem;
}
.section-project-details .section-btns {
  margin-right: auto;
  margin-left: -1rem;
}
.section-project-details .section-btns-single {
  margin-right: auto;
  margin-left: 0.25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 50%;
}
@media only screen and (max-width: 1068px) {
  .section-project-details .section-btns-single {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
}

.section-email {
  font-weight: 700;
  color: #333333;
}
@media only screen and (max-width: 1068px) {
  .section-email {
    font-size: 1.6rem;
  }
}
.section-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 3.5rem;
}
.section-social-item {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #127EB1;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 1rem;
}

@media only screen and (max-width: 1068px) {
  .contact {
    padding: 0.75rem;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-bottom: 5.5rem;
}
.footer-branding {
  width: 25rem;
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  padding: 1rem 7.5rem;
  background: #fff;
  z-index: 2;
}
@media only screen and (max-width: 1068px) {
  .navbar {
    padding: 1rem 1.5625rem;
  }
}
.navbar-brand {
  max-width: 180px;
  padding-left: 5rem;
}
.navbar-brand img {
  width: 100%;
}
@media only screen and (max-width: 1068px) {
  .navbar-brand {
    margin-right: auto;
    padding-left: 0;
  }
}
.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.navbar-menu--link:hover {
  color: #127EB1;
}
@media only screen and (max-width: 1068px) {
  .navbar-menu {
    display: none;
  }
}
.navbar .fa-bars {
  color: #127EB1;
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 1068px) {
  .navbar .fa-bars {
    display: inline-block;
    margin-left: auto;
  }
}

.mobile-overlay {
  left: -100vw;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: #fff;
  z-index: 99;
  transition: all 0.25s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.mobile-overlay--link {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
.mobile-overlay--link:hover {
  color: #127EB1;
}
.mobile-overlay #close-btn {
  position: absolute;
  top: 2rem;
  right: 2.25rem;
  color: #127EB1;
  cursor: pointer;
}

.show {
  display: flex !important;
  left: 0 !important;
}

.btn-lg {
  background: #127EB1;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  display: inline-block;
  transition: all 0.25s;
  margin-top: 6.5rem;
  cursor: pointer;
}
.btn-lg a {
  color: #fff;
  font-weight: 700;
}
.btn-lg:hover {
  margin-top: 5.85rem;
  margin-bottom: 0.75rem;
}

.btn-lg--outline {
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  display: inline-block;
  transition: all 0.25s;
  margin-top: 6.5rem;
  border: solid 1px #333333;
  cursor: pointer;
  margin-left: 1rem;
}
.btn-lg--outline a {
  color: #333333;
  font-weight: 700;
}
.btn-lg--outline:hover {
  margin-top: 5.85rem;
  margin-bottom: 0.75rem;
}
.btn-lg--outline i {
  margin-right: 0.5rem;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .btn-lg--outline {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

.btn-sm {
  color: #fff;
  background: #127EB1;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10rem;
  padding: 1.2rem 2.8rem;
  margin: 0rem;
  transition: all 0.2s ease-out 0s;
  margin-top: 5rem;
}
.btn-sm:hover {
  margin-top: 4.5rem;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 1068px) {
  .btn-sm {
    margin-top: 3.5rem;
  }
}

.btn-sm--outline {
  color: #333333;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 1rem;
  cursor: pointer;
  border: solid 1px #333333;
  border-radius: 10rem;
  padding: 1.2rem 2.8rem;
  margin: 0rem;
  transition: all 0.2s ease-out 0s;
  margin-top: 5rem;
}
.btn-sm--outline:hover:hover {
  margin-top: 4.5rem;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 1068px) {
  .btn-sm--outline {
    margin-top: 3.5rem;
  }
}

.fa-chevron-circle-up {
  color: #127EB1;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
  z-index: 2;
  transition: all 0.25s;
  cursor: pointer;
  opacity: 0;
}
.fa-chevron-circle-up:hover {
  bottom: 3rem;
}

.visible {
  opacity: 1 !important;
}

.blue-bg {
  background: #127EB1;
  color: #fff;
  padding: 0.5rem 0rem;
  display: inline-block;
  transform: rotate(-5deg);
}

.underline {
  text-decoration: underline;
}

a {
  color: #000;
}

.italic {
  font-style: italic;
}

.rotate {
  display: inline-block;
  transform: rotate(5deg);
}

/*# sourceMappingURL=main.css.map */
