// TYPOGRAPHY
$font-source            : 'https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700&display=swap';
$font-family            : 'Montserrat';
$font-weight-light      : 200;
$font-weight-medium     : 400;
$font-weight-semibold   : 600;
$font-weight-bold       : 700;

// SHADOWS
$navbar-shadow          : 0 0.5rem 2rem rgba(0,0,0,0.1);
$btn-lg-shadow          : 0px 8px 15px rgba(0,0,0,0.1);

// COLORS
$white                  : #fff;
$blue                   : #089ECA;
$light-blue             : #8EC8D9;
$dark-blue              : #127EB1;
$grey                   : #575757;
$dark-grey              : #333333;
$black                  : #000;

// TEXT ROTATE
$rotate-anticlock       : rotate(-5deg);
$rotate-clockwise       : rotate(5deg);

// BREAKPOINTS
$mobile                 : 768px;