.section {
    text-align: center;
    margin-bottom: 10rem;
    &-title {
       @extend %section-title; 
    }

    &-description {
        @extend %section-description;
    }

    &-text {
        @extend %section-text;
    }

    &-text-big {
        @extend %section-text-big;
    }

    &-text--skills {
        @extend %about-skills;
    }

    &-btns {
        @include flexy(space-around, center);
        width: 50%;
        margin: auto;

        @media only screen and (max-width: $mobile) {
            @include section-btn;
        }
    }
}

.about {
    padding-left: 7rem;
    padding-right: 7rem;

    @media only screen and (max-width: $mobile) {
        @include about-padding;
    }
}