.section {

    &-email {
        @extend %section-description;
        font-weight: $font-weight-bold;
        color: $dark-grey;

        @media only screen and (max-width: $mobile) {
            @include section-description;
        }
    }

    &-social {
        @include flexy(center, center);
        margin-top: 3.5rem;

       &-item {
        display: inline-block;
        border-radius: 50%;
        border: 2px solid $dark-blue;
        width: 50px;
        height: 50px;

        @include flexy(center, center);

        margin: 0 1rem;
       } 
    }
}

.contact {
    @media only screen and (max-width: $mobile) {
        @include contact-padding;
    }
}