.navbar {
    position: fixed;
    @include flexy(space-between, center);
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: $navbar-shadow;
    padding: pxtorem(16px) pxtorem(120px);

    background: $white;
    z-index: 2;

    &-brand {
        max-width: 180px;
        padding-left: pxtorem(80px);

        img {
            width: 100%;
        }
    }

    &-menu {
        @include flexy(center, center);

        &--link {
            @extend %navbar-link;

            &:hover {
                color: $dark-blue;
            }
        }
    }
}